# ▸ Python/Django
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg-info/
*.sqlite3
db.sqlite3

# ▸ Virtual envs
.venv/
venv/
env/

# ▸ Django collectstatic
/staticfiles/
staticfiles/

# ▸ IDE / OS
.vscode/
.idea/
.DS_Store

# ▸ Environment files (NÃO commitar chaves)
.env
*.env
.env.*