<footer class="py-4 mt-auto">
    <div class="container px-5">
        <div class="column flex-column flex-sm-row">
            <div class="col-auto mb-2">
                &copy; 2025 Prefeitura de Araranguá
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#">Política de Privacidade</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#">Termos de Serviço</a>
            </div>
        </div>
    </div>
</footer>