* {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

body {
    background-color: #f4f5f7;
    margin: 0;
    padding-top: 35px !important;
    min-height: 100vh;
}

header,
footer {
    background-color: #1e3c72;
    color: white;
    padding: 20px;
    text-align: center;
}

.responsive-card {
    min-width: 15rem !important;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.square:hover {
    background-color: #555;
    transform: scale(1.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .square {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}


.navbar-brand span {
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ff9f00;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .navbar-collapse {
        /* background-color: #1e3c72; */
    }

    .navbar-nav .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 568px) {
    .navbar-nav .nav-link:hover {
        transform: none !important;
    }
}

.banner {
    background-image: url('/static/images/wallpaper-default-ararangua.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner h1 {
    font-size: 3rem;
    font-weight: bold;
}

.banner p {
    font-size: 1.5rem;
}

@media (max-width: 560px) {
    .navbar-brand img {
        max-width: 15rem !important;
    }
}

@media (max-width: 400px) {
    .navbar-brand img {
        max-width: 10rem !important;
    }
}

@media (max-width: 300px) {
    .navbar-brand img {
        max-width: 8rem !important;
    }
}


/* Classe para animar */
.animated-zoom {
    transition: transform 0.3s ease-in-out !important; 
}

.animated-zoom:hover {
    transform: scale(1.02) !important; 
}

/* Classe para limitar o tamanho da imagem */
.img-logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.img-card {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* White Menu */
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3E%3Cpath stroke="%23ffffff" stroke-linecap="round" stroke-width="3" d="M5 7h20M5 15h20M5 23h20"/%3E%3C/svg%3E');
}
.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Rolar a tela */
html {
    scroll-behavior: smooth;
}
