body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f5f7;
    margin: 0;
    padding-top: 35px !important;
}

header,
footer {
    background-color: #1e3c72;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.square:hover {
    background-color: #555;
    transform: scale(1.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .square {
        width: 150px;
        height: 150px;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}


.navbar-brand span {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.navbar-nav .nav-link {
    font-size: 18px;
    margin-right: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ff9f00;
    transform: scale(1.1);
}

@media (max-width: 768px) {

    .navbar-brand img {
        max-width: 15px !important;
    }

    .navbar-collapse {
        /* background-color: #1e3c72; */
    }

    .navbar-nav .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 568px) {
    .navbar-nav .nav-link:hover {
        transform: none !important;
    }
}

.banner {
    background-image: url('/static/images/wallpaper-default-ararangua.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner h1 {
    font-size: 3rem;
    font-weight: bold;
}

.banner p {
    font-size: 1.5rem;
}