<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ARUTOURISM{% endblock %}</title>  <!-- Título dinâmico -->

    {% load static %}

    <!-- Importação do Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/login.css' %}">  <!-- CSS customizado -->
</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}  <!-- O conteúdo das páginas de login e cadastro vai ser inserido aqui -->
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>