{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Erro interno (500)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/pages/500.css' %}">
  {% endblock %}
</head>

<body>
  <div class="card" role="document" aria-labelledby="err-title">2
    <div class="code">500</div>
    <h1 id="err-title" class="h">Opa! Algo deu errado por aqui</h1>
    <p class="p">Nosso time já foi notificado. Tente novamente em instantes.</p>
    <div class="row">
      <a class="btn btn-primary" href="/">Voltar à Home</a>
      <a class="btn btn-outline" href="javascript:location.reload()">Tentar novamente</a>
    </div>
  </div>
</body>

</html>