<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ARUTOURISM{% endblock %}</title> 

    {% load static %}

    <link rel="icon" href="{% static 'images/at-transparent-blue.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/login.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
                    $(function () {
                $(".message-box .btn-close").on("click", function () {
                    console.log("adfsfas")
                    $(this).closest("li").fadeOut(function () {
                        $(this).remove();
                        if ($(".message-box ul li").length === 0) {
                            $("#message-overlay").fadeOut();
                        }
                    });
                });

                $("#id_username").on("input", function () {
                    let value = $(this).val();
                    if (/\s/.test(value)) {
                        $(this).val(value.replace(/\s/g, '')); // remove espaços
                        $(this).attr("placeholder", "Usuário não pode conter espaços");
                        // Opcional: mostra um alerta, ou efeito visual
                    } else {
                        $(this).attr("placeholder", "Digite seu usuário");
                    }
                });
            });
    </script>
</body>

</html>