{% extends 'base2.html' %}

{% block title %}Política de Privacidade{% endblock %}

{% block content %}
<div class="container py-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="fw-bold text-center mb-4">Política de Privacidade</h2>
            <p>Esta Política de Privacidade descreve como coletamos, usamos, e protegemos suas informações quando você utiliza o nosso site.</p>

            <h5 class="mt-4">1. Coleta de Dados</h5>
            <p>Coletamos dados pessoais que você nos fornece diretamente, como nome, e-mail, e dados de navegação. Essas informações são usadas para proporcionar uma melhor experiência de navegação.</p>

            <h5>2. Uso dos Dados</h5>
            <p>Os dados são utilizados para personalizar a experiência no site, enviar notificações sobre atualizações e melhorar nossos serviços. Não compartilhamos suas informações com terceiros, a menos que exigido por lei.</p>

            <h5>3. Armazenamento de Dados</h5>
            <p>Os dados pessoais coletados são armazenados de forma segura, e só ficam disponíveis para os administradores do sistema para fins de suporte e melhorias do serviço.</p>

            <h5>4. Seus Direitos</h5>
            <p>Você tem o direito de acessar, corrigir, ou excluir suas informações pessoais. Para exercer esses direitos, entre em contato conosco através do nosso formulário de contato.</p>

            <h5>5. Alterações nesta Política</h5>
            <p>Podemos atualizar esta Política de Privacidade periodicamente. Alterações significativas serão informadas diretamente em nosso site.</p>

            <p>Se tiver dúvidas sobre esta Política, entre em contato conosco.</p>
        </div>
    </div>
</div>s
{% endblock %}