{% extends 'core/base.html' %}
{% block title %}ARUTOURISM - Cadastro{% endblock %}
{% load static %}

{% block content %}
<div id="register-container" class="container d-flex justify-content-center align-items-center custom-container">

    {% if messages %}
    <div id="message-overlay" class="message-overlay">
        <div class="message-box">
            <ul>
                {% for message in messages %}
                <li class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" aria-label="Close">×</button>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="card shadow-lg p-4 animated-card custom-card">
        <div class="d-flex justify-content-center align-items-center">
            <img src="{% static 'images/logo-blk.png' %}" alt="Logo ARUTOURISM" class="img-fluid w-50 mb-4">
        </div>

        <h4 class="text-center">Cadastro</h4>
        <p class="text-center">Cadastre suas credenciais para criar sua conta</p>

        <form class="mobile-container" method="POST">
            {% csrf_token %}

            <div class="row g-3 mb-3">
                <div class="col-12 col-md-7">
                    <label class="form-label">{{ form.full_name.label }}</label>
                    {{ form.full_name }}
                </div>
                <div class="col-12 col-md-5">
                    <label class="form-label">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">{{ form.email.label }}</label>
                {{ form.email }}
            </div>

            <div class="d-flex justify-content-between align-items-center mt-3 mb-2">
                <label class="form-label">Tipo de Documento</label>
                <div class="d-flex">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="cpf" name="document_type" value="cpf" checked>
                        <label class="form-check-label" for="cpf">CPF</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="cnpj" name="document_type" value="cnpj">
                        <label class="form-check-label" for="cnpj">CNPJ</label>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">{{ form.cpf_cnpj.label }}</label>
                {{ form.cpf_cnpj }}
            </div>

            <div class="mb-3">
                <label class="form-label">{{ form.password1.label }}</label>
                {{ form.password1 }}
            </div>

            <div class="mb-3">
                <label class="form-label">{{ form.password2.label }}</label>
                {{ form.password2 }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
        </form>
        <p class="mt-3 text-center">Já tem uma conta? <a href="{% url 'login' %}">Faça login</a></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        function formatCpfCnpj(value) {
            if ($("#cpf").prop('checked')) {
                return value.replace(/^(\d{3})(\d{3})(\d{3})(\d{2})$/, "$1.$2.$3-$4");
            }
            if ($("#cnpj").prop('checked')) {
                return value.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})$/, "$1.$2.$3/$4-$5");
            }
            return value;
        }

        $("#cpf_cnpj").on('input', function () {
            var value = $(this).val().replace(/\D/g, '');
            $(this).val(formatCpfCnpj(value));
        });

        $("form").submit(function (event) {
            var cpfCnpjValue = $("#cpf_cnpj").val();
            if (cpfCnpjValue === "") {
                event.preventDefault();
                alert("O campo CPF ou CNPJ é obrigatório!");
            }
        });

        $(function () {
            $("#close-message").on("click", function () {
                $("#message-overlay").fadeOut();
            });

            $(".message-box .btn-close").on("click", function () {
                $(this).closest("li").fadeOut(function () {
                    $(this).remove();
                    if ($(".message-box ul li").length === 0) {
                        $("#message-overlay").fadeOut();
                    }
                });
            });

            $("#id_username").on("input", function () {
                let value = $(this).val();
                if (/\s/.test(value)) {
                    $(this).val(value.replace(/\s/g, '')); // remove espaços
                    $(this).attr("placeholder", "Usuário não pode conter espaços");
                    // Opcional: mostra um alerta, ou efeito visual
                } else {
                    $(this).attr("placeholder", "Digite seu usuário");
                }
            });
        });
    });
</script>

{% endblock %}