/* Estilo básico do corpo da página */
body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden; /* Evita rolagem extra */
    background: linear-gradient(-45deg, #2E3192, #1b8dff);
    background-size: 400% 400%;
    animation: gradient-animation 5s ease infinite; /* Aplica a animação do gradiente */
}

/* Definindo a animação do gradiente */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Card de login */
.card {
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 40rem;
    padding: 20px;
}

/* Animação de aparição suave */
.animated-card {
    animation: fadeIn 0.8s cubic-bezier(0, 0, 0, 1.09);
}

/* Animação para o fundo da página */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Estilos do botão */
button {
    font-size: 16px;
    padding: 12px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    /* Cor mais escura no hover */
}

/* Estilo dos campos de input */
input {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
}

/* Espaçamento entre os elementos */
.mb-3 {
    margin-bottom: 20px;
}

/* Títulos */
h2 {
    font-weight: bold;
    font-size: 30px;
}

h4 {
    font-size: 18px;
    font-weight: normal;
}

p {
    font-size: 14px;
}

/* Link "Cadastre-se" */
a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Ajuste do estilo para o campo CPF ou CNPJ */
#cpf_cnpj {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Espaçamento entre os radio buttons */
.d-flex {
    display: flex;
    align-items: center;
}

/* Customizando o espaço entre os radio buttons */
input[type="radio"] {
    margin-right: 10px;
}

/* Mensagem de erro para CPF/CNPJ vazio */
.invalid-feedback {
    display: block;
    color: red;
    font-size: 12px;
}