{% extends 'base.html' %}

{% block title %}Página Inicial - ARUTOURISM{% endblock %}

{% block content %}
    <!-- Banner com a imagem -->
    <div class="banner">
        <div class="text-center">
            <h1>Bem-vindo ao AruTourism!</h1>
            <p>Explore os pontos turísticos de Araranguá.</p>
        </div>
    </div>
    
    <div class="container d-flex justify-content-around flex-wrap">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
    
{% endblock %}