{# core/partials/form_errors.html #}
{% if form.errors %}
<div id="errors-from-server" class="message-overlay" role="alert" aria-live="assertive">
  <div class="message-box">
    <h5 class="mb-2">Por favor, corrija os seguintes erros:</h5>
    <ul class="m-0">
      {# erros de campo #}
      {% for field in form.visible_fields %}
        {% if field.errors %}
          <li><strong>{{ field.label }}:</strong> {{ field.errors|join:", " }}</li>
        {% endif %}
      {% endfor %}
      {# erros gerais (non field) #}
      {% for err in form.non_field_errors %}
        <li>{{ err }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
